/* google fontes */

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root */
:root {
    --primeira-cor: #000000;
    --segunda-cor: #00013d;
    --terceira-cor: rgb(0, 202, 202);
    --quarta-cor: #999999;
    --opcional-cor: #ffffff;
}

/* 1° */
header {
    height: 80px;
    background: var(--opcional-cor);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #00013d;
}

.logo {
    height: auto;
    display: flex;
}

.logoDes {
    color: #003566;
}

.logo h1 {
    color: var(--terceira-cor);
    font-size: 2.5rem;
    padding: 0.625rem;
}

.logo img {
    background: var(--terceira-cor);
    margin-top: 0.3125rem;
    padding: 0.3125rem;
    height: 3.125rem;
    width: 3.125rem;
    border: 2px solid #001d3d;
    border-radius: 50%;
}

.hamburguer {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--terceira-cor);
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--primeira-cor);
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--terceira-cor);
}

.icons {
    display: flex;
}
header button{
    border: none;
    height: 40px;
    width: 90px;
    border-radius: 4px;
    background-color: var(--terceira-cor);
    cursor: pointer;
    color: var(--primeira-cor);
    font-size: 16px;

}
@media (max-width: 768px) {
    .hamburguer {
        display: block;
        font-size: 35px;
        position: relative;
        z-index: 13;
    }

    .icons {
        display: none;
    }

    nav ul {
        border-radius: 3px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: none;
        position: absolute;
        z-index: 9;
        width: 100%;
        height: 100dvh;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.853);
        padding: 20px 0;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        width: 50%;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
    }

    nav ul li a {
        color: var(--opcional-cor);
        font-size: 18px;
    }

    nav ul li:hover {
        background-color: var(--segunda-cor);
    }

    header button {
        display: none;
    }
}

/* conteudo main */
main {
    min-height: 100vh;
    background: var(--opcional-cor);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal1 {
    width: 50%;
    height: auto;
    padding: 0.625rem;
}

.conteudo-principal1 h4 {
    font-size: 1.875rem;
    color: var(--segunda-cor);
}

.conteudo-principal1 h1 {
    font-size: 3.4375rem;
    color: var(--segunda-cor);
}

.conteudo-principal1 h2 {
    font-size: 2.8125rem;
    color: var(--terceira-cor);

}

.conteudo-principal1 p {
    font-size: 1.25rem;
    color: var(--segunda-cor);
}


@media(max-width: 768px) {
    main {
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
    }

    .conteudo-principal1 {
        min-height: 60vh;
        width: 100%;
        text-align: center;
    }

    .conteudo-principal2 {
        width: 100%;
        min-height: 100vh;
    }

    .logo img {
        display: none;
    }
}

/* footer */
footer {
    min-height: 50vh;
    background: var(--primeira-cor);
    width: 100%;
    padding: 20px;
}

.footer-conteiner {
    max-width: 71.25rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row p {
    font-size: 0.875rem;
}

.coll {
    background-color: var(--primeira-cor);
    min-width: 100px;
    height: 60px;
    color: #f2f2f2f2;
    font-family: poppins;
    padding: 0 2rem;
}

.coll img {
    background: var(--terceira-cor);
    margin-top: 0.3125rem;
    padding: 0.3125rem;
    height: 3.125rem;
    width: 3.125rem;
    border: 2px solid #001d3d;
    border-radius: 50%;
}

.coll h1 {
    display: inline-flex;
    color: var(--terceira-cor);
    font-size: 2.5rem;
    cursor: pointer;
}

.coll h3 {
    color: var(--terceira-cor);
    margin-bottom: 1.25rem;
    position: relative;
    cursor: pointer;
}

.coll h3:after {
    content: ' ';
    height: 0.1875rem;
    width: 0px;
    background-color: #ffc300;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;

}

.coll h3:hover::after {
    width: 2.8125rem;
}

.coll .social a i {
    color: var(--terceira-cor);
    margin-top: 0.625rem;
    margin: 5px;
    transition: 0.3s ease
}

.coll .social a i:hover {
    transform: scale(1.5);
    filter: grayscale(25);
}

.coll .links a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 0.3125rem;
    position: relative;
    transition: 0.3s ease;
}

.coll .links a::before {
    content: ' ';
    height: 1rem;
    width: 0.1875rem;
    position: absolute;
    top: 2px;
    left: -10px;
    background-color: #ffc300;
    transition: 0.5s ease;
    opacity: 0;
}

.coll .links a:hover::before {
    opacity: 1;
}

.coll .links a:hover {
    transform: translateX(-0.5rem);
    color: #ffc300;
}

.coll .contact-details {
    display: block;
}

.coll .contact-details i {
    margin-right: 15px;
}

@media screen and (max-width:768px) {
    footer {
        min-height: 26vh;
    }
}